
    <div id="cspio-page">
      <div id="cspio-content">
        
        <div class="gallery DivName" style="margin-top: 30px">
        <img id="cspio-logo" class="zoom" src="assets/img/events/TND-Event-Img.jpg">
      </div>
                 <i class="fa fa-arrow-circle-up" style="color: white" aria-hidden="true"> &nbsp; Hover or touch to zoom</i> 
                 <br>  
                 <br>
        <h1 id="cspio-headline">Like it or not, they're here.</h1>	
        
        <h4 style="font-size: 20px">Witness what comedy can be when it's in the hands of...<br> The Natural Disasters!</h4>
        <br>

        <div id="cspio-field-wrapper">
          <div class="row">
            <div class="col-md-12 seperate">
          <span><a href="http://www.6thstreetplayhouse.com/shows-tickets/special-events/improv-the-natural-disasters/?fbclid=IwAR1FdICChPJGu0QUR5htLTbYSdIH1n6vBq8ECCiry-7vIrBwduT-dq_wxHA" target="_blank"><button type="button" class="btn btn-lg btn-primary">Buy Your Tickets Now!</button></a></span></div>
          </div>
          
        </div>

      
      <h4 style="font-size: 14px">Friday June 21, 2019 at 7:30pm @ 6th Street PlayHouse in Santa Rosa, CA</h4>
                                                                                    
      <div id="cspio-socialprofiles">
        <a href="https://facebook.com/NaturalDisastersImprov/" target="_blank"><i class="fa fa-facebook-official fa-2x"></i></a>			
        <a href="https://www.youtube.com/channel/UCq5Pavan-Pg2RgpIvDhh3Yg" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>			
        <a href="https://instagram.com/NaturalDisastersImprov" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>			
      </div>  
      
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3125.1722905635716!2d-122.72559458466318!3d38.43748917964431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8084380180d0967b%3A0x78bbd4047142dc50!2s6th+Street+Playhouse!5e0!3m2!1sen!2sus!4v1560222601485!5m2!1sen!2sus" width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <br>
      <br>
      <p style="color: #fff; font-size: 11px">&copy;Copyright 2019 The Natural Disasters Improv | Constructed by Darrell Curtright / <a href="dcinsites.co" target="_blank" style="color: rgb(149, 149, 252)">DCinsites.co</a></p>
      </div>
    </div>