html {
    height: 100%;
    overflow: hidden;
  }
  
  body {
    height:100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height:100%;
    background: url(src/assets/img/events/TND-bg-img.png) no-repeat center bottom fixed;
    -moz-z-index: -2;
    -ms-z-index: -2;
    -o-z-index: -2;
    z-index: -2;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  

  
  .flexbox #cspio-page{
    align-items: center;
    justify-content: center;
  }
  
    .cspio h1, .cspio h2, .cspio h3, .cspio h4, .cspio h5, .cspio h6{
        font-family: 'Permanent Marker';
        color:#fff;
    }
  
  #cspio-headline{
    font-family: 'Permanent Marker';
    font-weight: 400;
        font-size: 40px;
    color:#fff;
    line-height: 1.00em;
  }
  
  .cspio button{
        font-family: 'Permanent Marker';
    font-weight: 400;
    }
  
    .cspio a, .cspio a:visited, .cspio a:hover, .cspio a:active{
    color: #fff;
  }
  
  #cspio-socialprofiles a {
    color: #fff;
  }
    
    #cspio-content {
    
    max-width: 600px;
    background-color: #fff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color:transparent;
  }
    
  .cspio .progress-bar,
  .countdown_section,
  .cspio .btn-primary,
  .cspio .btn-primary:focus,
  .gform_button {
    background-image: none;
    text-shadow: none;
  }
  
  .cspio input,
  .cspio input:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
            
  
  #cspio-subscribe-btn{
      background:transparent;
      border: 1px solid #000 !important;
      color: #000;
  }
  
  #cspio-subscribe-btn:hover{
      background: rgba(255,255,255,0.2);
      color: #000000;
  }
  
 